.category_div {
  height: 40px;
  width: 100vw;
  background: #fff;
  display: flex;
  align-items: center;

  box-shadow: 0 2px 5px rgb(145, 144, 144);
}
.Link {
  color: rgb(70, 68, 68);
  text-decoration: none;
  padding-left: 30px;
}
.Link:hover{
    color: lightseagreen;
}
.Link:active{
    color: lightseagreen;


}